main.container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 100px;
}

main h1:first-child {
    grid-column: 1/-1;
    margin-bottom: 50px;
}

.main-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main-form h2,
.main-form .form-input,
.main-form .form-checkbox {
    grid-column: 1 / -1;
}

.main-form h2~h2 {
    margin-top: 30px;
}



.form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-input input,
.form-input select {
    max-width: 100%;
    width: 100%;
    padding: 12px;
    padding-left: 50px;
    border-radius: 12px;
    border: 1px solid var(--color-icons);
    outline: none;
    background-color: rgb(250, 250, 250);

}

/* Esconde setas number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input input:focus,
.form-input select:focus {
    border: 1px solid rgb(27, 27, 27);
    background-color: #fff;
}

.form-input input:focus+span,
.form-input select:focus+span {
    color: rgb(53, 53, 53);
}

.form-input input::placeholder,
.form-input select option {
    font-size: 12px;
}


.form-input select {
    color: var(--color-icons);
    font-size: 12px;
    appearance: none;
    padding: 13px;
    padding-left: 50px;
}

.form-input select option {
    cursor: pointer !important;
}

.form-input {
    position: relative;
}

.form-input span {
    position: absolute;
    color: var(--color-icons);
    left: 15px;
    top: 27px;
}

.form-input span.public {
    top: 26px;
}

.form-input label#setinha {
    position: absolute;
    color: var(--color-icons);
    right: 10px;
    left: initial;
    top: 26px;
    background-color: #E0E0E0;
    border-radius: 4px;
    pointer-events: none;
}

.form-input select:focus~label#setinha {
    transform: rotate(180deg);
}

.form-input.col-1 {
    grid-column: span 1;
}

.form-checkbox input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.form-checkbox input:checked~label::before {
    background: var(--color-enf-1) url('../../../icondone.svg');
    border: 1px solid rgb(119, 119, 119);
}

.form-checkbox input:focus-visible~label::before {
    border: 1px solid rgb(32, 32, 32);
}


.form-checkbox label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}


.form-checkbox label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-icons);
    border-radius: 4px;
}

button#buttondesktop {
    grid-column: 2;
    justify-self: end;
}

/* main card */

.main-card {
    max-width: 383px;
    height: max-content;
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 20px;
}

.item-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.item-card:nth-child(2) {
    margin-bottom: 80px;
}

.item-img {
    object-fit: contain;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.item-img img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item-description {
    display: grid;
}

.item-description h3 {
    font-size: 16px;
    color: var(--color-h1);
    margin-bottom: 10px;
}

.item-price span:first-of-type {
    margin-right: 10px;
}

.item-price span:last-of-type {
    font-size: 12px;
    text-decoration: line-through;
}

.item-add {
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-add .add1,
.item-add .remove1,
.item-add .add2,
.item-add .remove2 {
    cursor: pointer;
}

.item-shipping {
    border-top: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.item-shipping span {
    font-size: 14px;
}

@media (max-width:900px) {
    main.container {
        gap: 0 40px;
    }
}

@media (max-width:800px) {

    .form-input input::placeholder,
    .form-input select option,
    .form-input select {
        font-size: 10px;
    }

    .item-price span:last-of-type {
        font-size: 10px;
    }
}

@media (max-width:700px) {
    .form-input.col-1 {
        grid-column: 1/-1;
    }

    main.container {
        padding-top: 20px;
        padding-bottom: 60px;
        grid-template-columns: 1fr;
    }

    .main-card {
        grid-row: 2;
        justify-self: center;
        margin-bottom: 40px;
    }
}

@media (max-width:400px) {
    .item-description h3 {
        font-size: 12px;
    }
}
@media (max-width:350px) {
    .item-price span {
        font-size: 12px;
       
    }
}

footer {
    text-align: center;
    font: 600 14px/1.1 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: var(--color-h1);
}

footer a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-enf-1);
    font-size: 1.1em;
    transition: .1s;
    position: relative;
}

footer a:hover {
    color: rgb(54, 54, 54);
    transform: scale(1.05);
}

footer a::after {
    content: '';
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;
    /* left: 0; */
    position: absolute;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}