* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.125rem; /* 18px */
}

label {
    font-size: 0.75rem; /* 12px */
}

@media (max-width:800px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 0.875rem; /* 14px */
    }
    
    label {
        font-size: 0.625rem; /* 10px */
    }
}
@media (max-width:600px) {
    h1 {
        font-size: 1.5rem; /* 24px */
    }
    
    h2 {
        font-size: 0.875rem; /* 14px */
    }
    
    label {
        font-size: 0.625rem; /* 10px */
    }
}