.sucesso {
    padding: 0 20px;
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.sucesso-info p,
.sucesso-info span {
    max-width: 60ch;
}

.sucesso-info p {
    margin-bottom: 5px;
}

a.button {
    display: block;
}

@media (max-width: 800px) {

    .sucesso-info p,
    .sucesso-info span {
        max-width: 50ch;
        font-size: 1rem;
    }
}
@media (max-width: 550px) {

    .sucesso-info p,
    .sucesso-info span {
        max-width: 40ch;
        font-size: 0.85rem;
    }
}